<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="staffbid.qbayapps.quadrobay.com.staffbid">
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:name=".AppController"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity" />
        <activity android:name=".Jobseekerdata.Jobseeker1RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".CompanyRegistrationDetials" />
        <activity android:name=".Jobseekerdata.Jobseeker2Experience" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".ForgotpassActivity" />
        <activity android:name=".Jobseekerdata.JobseekerDashboardActivity" />
        <activity android:name=".Jobseekerdata.JobSeeker3AvailabilityActivity" />
        <activity android:name=".FinalAppliedcandidates" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>